<h1>Please Log In</h1>

<%= form_tag sessions_path do %>

  <div class="field">
    <%= label_tag :email %><br/>
    <%= text_field_tag :email, params[:email] %>
  </div>

  <div class="field">
    <%= label_tag :password %><br/>
    <%= password_field_tag :password %>
  </div>

  <div class="button"><%= submit_tag "Log in" %></div>

<% end %>

<!-- sessions_path is sessions#create: create action, sessions controller -->
