<%= form_for @user do |form| %>
<% if @user.errors.any? %>
<div class="error_messages">
  <h2>Form is invalid</h2>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<h1>Be Our User</h1>
<p>You're a minute away from signing up!</p>


  <div class="field">
    <%= form.text_field :first_name, placeholder: "First Name" %>
  </div>

  <div class="field">
    <%= form.text_field :last_name, placeholder: "Last Name" %>
  </div>

  <div class="field">
    <%= form.email_field :email, placeholder: "Email" %>
  </div>

  <div class="field">
    <%= form.password_field :password, placeholder: "Pasword" %>
  </div>

  <div class="field">
    <%= form.password_field :password_confirmation, placeholder: "Password Confirmation" %>
  </div>

  <div class="button">
    <%= form.submit "Submit Sign Up"  %>
  </div>

<% end %>

<!-- Get the count errors messages in there? -->

<!-- Error messages repeat "password" 2 times as opposed to "password" and "password confirmation" -->
