<h1>at <%= @restaurant.name %></h1>

<h2>Total Restaurant Capacity: <%= @restaurant.capacity %></h2>

<% if current_user %>
  <%= form_for ([@restaurant, @reservation]) do |f| %>

  <% if @reservation.errors.any? %>
    <div class="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
        <% @reservation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.number_field :party_size %>
    </div>

    <div class="field">
      <%= f.date_field :date_field, value: @reservation.time.strftime("%Y-%m-%d") %>
    </div>

    <div class="field">
      <%= f.select(:time_field, options_for_select([["1:00 PM", "13:00"], ["2:00 PM", "14:00"], ["3:00 PM", "15:00"], ["4:00 PM", "16:00"], ["5:00 PM", "17:00"], ["6:00 PM", "18:00"], ["7:00 PM", "19:00"], ["8:00 PM", "20:00"]])) %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
<% end %>
