<h2>Restaurants#show</h2>
<%= "Reservations for #{@restaurant.name}" %>
<br>

<div>
  <p>
  <% @restaurant.reservations.each do |reservation| %>
  <%= "Reservation #: #{reservation.id}  " %>
  <%= "User: #{reservation.user}  " %>
  <%= "Party Size: #{reservation.party_size}  " %>
  <%= "Time: #{reservation.time}  " %>
<% end %>
</p>
</div>

<br>
