<h2><%= @restaurant.name %></h2>

<!-- Calling form for @reservation, created on the restaurant controller, referring to @restaurant -->
<!-- HIDE FORM WHEN NO current_user -->
<% if current_user %>
  <%= form_for ([@restaurant, @reservation]) do |f| %>

  <div class="field">
    <%= f.label :party_size %>
    <%= f.number_field :party_size %>
  </div>

  <div class="field">
    <%= f.label :date_field, "Date" %>
    <%= f.date_field :date_field, value: Time.now.strftime("%Y-%m-%d") %>
  </div>

  <div class="field">
    <%= f.label :time_field, "Time" %>
    <%= f.time_field :time_field, value: "19:00" %>
  </div>

  <div class="actions">
    <%= f.submit "Create Reservation" %>
  </div>

  <% end %>
<% end %>

<br>
<!-- RESERVATION CREATION FAILING, UNSURE WHY -->
<% if current_user %>
  <div class="reservations">
    <p>
      <%= "Reservations for #{@restaurant.name}" %>
      <% current_user.reservations.where(restaurant_id: @restaurant).each do |reservation| %>
        <ul>
          <li>Reservation for: <%= reservation.user.first_name %> <%= reservation.user.last_name %></li>
          <li>Reservation number: <%= reservation.id %></li>
          <li>Party of: <%= reservation.party_size %></li>
          <li>At <%= reservation.time.strftime("%I:%M %p") %> on <%= reservation.time.strftime("%A, %B %d %Y") %></li>
        </ul>
      <% end %>
    </p>
  </div>
<% end %>
