<h2><%= @restaurant.name %></h2>

<!-- Calling form for @reservation, created on the restaurant controller, referring to @restaurant -->
<%= form_for ([@restaurant, @reservation]) do |f| %>

  <div class="field">
    <%= f.label :party_size %>
    <%= f.number_field :party_size %>
  </div>

  <div class="field">
    <%= f.label :date_field, "Date" %>
    <%= f.date_field :date_field %>
  </div>

  <div class="field">
    <%= f.label :time_field, "Time" %>
    <%= f.time_field :time_field %>
  </div>

  <div class="actions">
    <%= f.submit "Submit Reservation" %>
  </div>

<% end %>

<%= "Reservations for #{@restaurant.name}" %>
<br>

<div class="reservations">
  <p>
    <% @restaurant.reservations.each do |reservation| %>
      <% if reservation.user != nil %>
        <ul>
          <li>Reservation for: <%= reservation.user.first_name %> <%= reservation.user.last_name %></li>
          <li>Reservation number: <%= reservation.id %></li>
          <li>Party of: <%= reservation.party_size %></li>
          <li>At <%= reservation.time.strftime("%I:%M %p") %> on <%= reservation.time.strftime("%A, %B %d %Y") %></li>
        </ul>
      <% end %>
    <% end %>
  </p>
</div>

<br>
