<h2><%= @restaurant.name %></h2>

<!-- Calling form for @reservation, created on the restaurant controller, referring to @restaurant -->
<%= form_for ([@restaurant, @reservation]) do |f| %>
  <%= f.label :party_size %>
  <%= f.number_field :party_size %>

  <%= f.label :date_field %>
  <%= f.date_field :date_field %>

  <%= f.label :time_field %>
  <%= f.time_field :time_field %>

  <%= f.submit "Submit Reservation" %>

<% end %>

<%= "Reservations for #{@restaurant.name}" %>
<br>

<div>
  <p>
  <% @restaurant.reservations.each do |reservation| %>
  <ul>
    <li>Reservation for: <%= reservation.user %></li>
    <li>Reservation number: <%= reservation.id %></li>
    <li>Party of: <%= reservation.party_size %></li>
    <li>At <%= reservation.time %></li>
  </ul>
<% end %>
</p>
</div>

<br>
