<h2><%= @restaurant.name %></h2>

<!-- Calling form for @reservation, created on the restaurant controller -->
<%= form_for ([@restaurant, @reservation]) do |f| %>
  <%= f.label :party_size %>
  <%= f.number_field :party_size %>

  <%= f.label :date_field %>
  <%= f.date_field :date_field %>

  <%= f.label :time_field %>
  <%= f.time_field :time_field %>

  <%= f.submit "Submit Reservation" %>
<!-- Form built, unsure how to split date and time, as well as problems in reservation controller -->

<% end %>

<%= "Reservations for #{@restaurant.name}" %>
<br>

<div>
  <p>
  <% @restaurant.reservations.each do |reservation| %>
  <%= "Reservation #: #{reservation.id}  " %>
  <%= "User: #{reservation.user}  " %>
  <%= "Party Size: #{reservation.party_size}  " %>
  <%= "Time: #{reservation.time}  " %>
<% end %>
</p>
</div>

<br>
