<!DOCTYPE html>
<html>
<head>
  <title>SeatYourself</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1 class="app_title">SeatYourself</h1>
    <!-- Add login/sign up options to header - wrap in a div or something -->
    <!-- Add navigation options to header and footer - nav tag-->
  </header>

  <div class="main_content">
    <%= yield %>
  </div>

  <footer>
    <!-- Add navigation options within nav tag -->
    <p>
      <%= link_to "Back to Restaurants", restaurants_path %>
    </p>
    &copy; 2016 - Carlos Lozano, Mike Bowman, Steve O'Neil - Bitmaker Labs, Toronto
  </footer>
</body>
</html>
