<!DOCTYPE html>
<html>
<head>
  <title>Be Our Guest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav>
        <h1 class="logo"><%= link_to 'Be Our', restaurants_path %> Guest</h1>
      <p class="userinfo">
        <% if current_user %>
        Hi there, <%= current_user.first_name %>. <%= link_to "Log out", session_path("current"), :method => :delete %>
        <br>
        <%= link_to "Add a restaurant listing?", new_restaurant_path %>
        <% else %>
        <%= link_to "Log in", new_session_path %> or <%= link_to "Sign up", new_user_path %>
        <% end %>
      </p>
    </nav>
  </header>

  <% if flash[:notice] %>
    <p id="notice"><%= flash[:notice] %></p>
  <% end %>

  <% if flash[:alert] %>
    <p id="alert"><%= flash[:alert] %></p>
  <% end %>

  <div class="container">
    <%= yield %>
  </div>

  <footer>
    <p>
      <% unless current_page?('/restaurants') %>
      <%= link_to "Back to Restaurant List", restaurants_path %>
      <% end %>
    </p>
    &copy; 2016 - Carlos Lozano, Mike Bowman, Steve O'Neil - Bitmaker Labs, Toronto
  </footer>
</body>
</html>
