<!DOCTYPE html>
<html>
<head>
  <title>SeatYourself</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>SeatYourself</h1>
  </header>

<%= yield %>


  <p><%= link_to "Back to Restaurants", restaurants_path %></p>
  <footer>
    &copy; 2016 - Carlos Lozano, Mike Bowman, Steve O'Neil - Bitmaker Labs, Toronto
  </footer>
</body>
</html>
