<!DOCTYPE html>
<html>
<head>
  <title>Be Our Guest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav>
        <h1 class="logo"><%= link_to 'Be Our', restaurants_path %> Guest</h1>
      <p class="userinfo">
        <% if current_user %>
        Signed in as <%= current_user.email%>. <%= link_to "Log out", session_path("current"), :method => :delete %>
        <br>
        <%= link_to "Add a restaurant listing?", new_restaurant_path %>
        <% else %>
        <%= link_to "Log in", new_session_path %> or <%= link_to "Sign up", new_user_path %>
        <% end %>
      </p>
    </nav>
  </header>

  <% if flash[:notice] %>
    <p id="notice"><%= flash[:notice] %></p>
  <% end %>

  <% if flash[:alert] %>
    <p id="alert"><%= flash[:alert] %></p>
  <% end %>

  <div class="container">
    <%= yield %>
  </div>

  <footer>
    <p>
      <% unless current_page?('/restaurants') %>
      <%= link_to "Back to Restaurant List", restaurants_path %>
      <% end %>
    </p>
    &copy; 2016 - Carlos Lozano, Mike Bowman, Steve O'Neil - Bitmaker Labs, Toronto
  </footer>
</body>
</html>

<!-- comment in code:
  <img src="http://technologytherapy.com/wp-content/uploads/2014/03/guest.jpg" alt="Be Our Guest">
  Add login/sign up options to header - wrap in a div or something
  Add navigation options to header and footer - nav tag
  <section>
  <code>
  < link_to "Login", new_session_path, class: "session_button" >
  </code>
  </section>
  <section>
  <code>
  < link_to "Sign Up", new_user_path, class: "session_button" >
  </code>
  </section> -->
  <!-- Add navigation options within nav tag -->
